@import "flags";

@each $flag in $flags {
  .wh-icon.flags.#{$flag} {
    width: 64px;
    height: 64px;
    background-size: contain;
    background-image: url("~@/assets/flags/#{$flag}/mon_64.png");
  }
}

.wh-icon.flags.small.wh2_dlc09_tmb_exiles_of_nehek {
  width: 16px;
  height: 16px;
  background-size: contain;
  background-image: url("~@/assets/flags/wh2_dlc09_tmb_exiles_of_nehek/mon_24.png");
}

.wh-icon.flags.small.wh2_main_def_cult_of_pleasure {
  width: 16px;
  height: 16px;
  background-size: contain;
  background-image: url("~@/assets/flags/wh2_main_def_cult_of_pleasure/mon_24.png");
}
