@import "skins";

@each $skin in $default {
  .wh-icon.default.#{$skin} {
    width: 16px;
    height: 16px;
    background-size: contain;
    background-image: url("~@/assets/icons/skins/default/#{$skin}.png");
  }
}
